<header class="header-6">
  <div class="branding">
    <a routerLink="/"><img src="../../../../assets/img/logo_simplon_simple_red1-removebg-preview.png"></a>
  </div>
  <div class="header-actions">
    <button class="btn btn-primary" (click)="openModalRegister()">Inscription</button>
    <button class="btn btn-primary" (click)="openModalConnection()">Connexion</button>
  </div>
</header>

<clr-modal [(clrModalOpen)]="basic">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="FormRegister">
      <clr-input-container>
        <label>Prenom</label>
        <input clrInput type="text" formControlName="firstname" />
      </clr-input-container>
      <clr-input-container>
        <label>Nom</label>
        <input clrInput type="text" formControlName="lastname" />
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" formControlName="email" />
      </clr-input-container>
      <clr-input-container>
        <label>Mot de passe</label>
        <input clrInput type="password" formControlName="password" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!FormRegister.valid" (click)="Register()">S'inscrire</button>
    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
  </div>
</clr-modal>


<!-- Connection -->
<clr-modal [(clrModalOpen)]="connect">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="FormConnect">
      <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" formControlName="email" />
      </clr-input-container>
      <clr-input-container>
        <label>Mot de passe</label>
        <input clrInput type="password" formControlName="password" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!FormConnect.valid" (click)="Connect()">Connexion</button>
    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
  </div>
</clr-modal>
