.clr-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 2%;
}
.card{
  width: 300px;
  border-radius: 20px;
}
clr-icon {
color: #c27b00;
}
.card-footer{
  padding-bottom: 30px;
}
.card-footer > button{
  float: right;
}

