<div class="clr-row" >
    <div class="clr-col-6 clr-justify-content-center" *ngFor="let mod2 of allSkillMod2.message">
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">

                        </div>
                        <div class="card-text">
                           {{mod2.name_skille}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link"><clr-icon shape="info-standard" (click)="change(mod2.id_skill)"></clr-icon></button>
                        <button class="btn btn-sm btn-link"><clr-icon shape="play" (click)="redirect(mod2.id_skill)"></clr-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<app-modal-skills (click)="opened = true"></app-modal-skills>-->
<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">{{skillDescription.message[0].name_skille}}</h3>
    <div class="modal-body">
        <p> {{skillDescription.message[0].skill_description}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
           OK
        </button>
    </div>
</clr-modal>


