<!--
<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">No "x" in the top-right corner</h3>
    <div class="modal-body">
        <p>Clicking on the backdrop doesn't do anything.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
            I'm the only way to close the modal!
        </button>
    </div>
</clr-modal>

-->
