section{
  min-height: 100vh;
  background-color: #1A2A31;
}

h4{
  color: white;
  background-color: #2e8500;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}

.table{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  background-color: #233740!important;
  color: white;
  margin-bottom: 10%;
}
td {
  border-right: solid 1px white;
}
th {
  background-color: #233740;
  color: white;
  border-right: solid 1px white;
}
clr-icon{
  color: #2e8500;
}




h3{
  color: white;
  font-family: Reem Kufi;
  font-size: 20px;
  letter-spacing: 0.2em;
}

.text{
  padding-left: 1%;
  padding-right: 10%;
  padding-top: 5%;
  text-align: end;
}

