<section>
<app-nav></app-nav>
   <h4> AZERTYJHGFSDSQSDFGJHJ QSDRTYKJHGFGQ AZERTYJHGFSDSQSDFGJHJ QSDRTYKJHG</h4>

    <!-- table -->
    <table class="table">
        <thead>
        <tr>
            <th> Prenom </th>
            <th> Nom </th>
            <th> Level</th>
        </tr>
        </thead>
        <tbody *ngFor="let padawan of userBySkill.message" >
        <tr>
            <td>{{ padawan.firstname }}</td>
            <td>{{ padawan.lastname }}</td>
            <td *ngIf="padawan.id_level === 1"><clr-icon shape="star"></clr-icon></td>
            <td *ngIf="padawan.id_level === 2"><clr-icon shape="star"></clr-icon><clr-icon shape="star"></clr-icon></td>
            <td *ngIf="padawan.id_level === 3"><clr-icon shape="star"></clr-icon><clr-icon shape="star"></clr-icon><clr-icon shape="star"></clr-icon></td>
        </tr>
        </tbody>
    </table>


    <!-- robot-->
    <div class="clr-row">
        <div class="clr-col-8 text">
            <h3> This is where the jedi are raised ...</h3>
        </div>
        <div class="clr-col-4 foto">
            <img src="https://cdn.discordapp.com/attachments/617078946869149706/692009599330680891/logo_animation.gif">
        </div>
    </div>
</section>
