<article>
  <app-nav></app-nav>
  <div class="clr-row">
    <div class="clr-col-8 text">
      <h1> May the force be with you my young </h1>
      <h1 class="smplon">Padawan Simplonien !</h1>
    </div>
    <div class="clr-col-4 foto">
      <img src="https://cdn.discordapp.com/attachments/617078946869149706/692009599330680891/logo_animation.gif">
    </div>
  </div>
</article>



