
article{
  background-color: #1A2A31;
/*  background-image:url("../../../assets/img/zvezdnoe_nebo_zvezdy_sozvezdiia_154336_1280x720.jpg");*/
  height: 100vh;
}
h1{
  color: white;
  font-family: Reem Kufi;
  font-size: 35px;
  letter-spacing: 0.2em;
}
.clr-row{
  padding-top:20%;
  height:88vh;
}

.text{
  padding-left: 1%;
  padding-right: 10%;
  text-align: end;
}
