article{
  min-height: 100vh;
  background-color: #1A2A31;;
}


h3{
  text-align: center;
  color: white;
  font-family: Reem Kufi;
  font-size: 25px;
    margin: 0!important;
  padding: 0!important;
}

div{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  color: white;
}


