article{
  min-height: 100vh;
  background-color: #1A2A31;
}
p{
  padding: 0;
  margin: 0;
}

h3{
  text-align: center;
  color: white;
  font-family: Reem Kufi;
  font-size: 25px;
  margin: 0!important;
  padding-top: 0!important;
  padding-bottom: 5%;
}
.clr-row{
  height: 30vh;
  padding-bottom:30vh;
/*  background-color: #e02200;*/
}

.module{
  width: 70%;
  height: 90%;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 7%;
}
.one{
  background-color: #D8842A;
}
.two{
  background-color: #28AE60;
}
.three{
background-color: #0195CD;
}

.skill{
  margin-left: 10%;
  width: 80%;
  min-height: 30vh;
  border-radius: 20px;
}

.test{
  height: 100%!important;
  justify-content: center;
  vertical-align: middle;
  padding-top: 5%;
  padding-left:15% ;
  text-align: center;
  display: flex;
  justify-content: center;
}
.test {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
}

.test .module {
  transition: 0.7s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}

.test .module:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
  border: solid 2px white;
  cursor: pointer;
  padding: 5%;
}
