<article>
<h3> Arbre de competences</h3>
    <div class="clr-row">
        <div class=" clr-col-4">
            <div class="test">
            <div class="module one" (click)="showmodul1()">
                <p>
{{allmodule.message[0].name_module}}
                </p>
            </div>
            </div>
        </div>
        <div class=" clr-col-4">
            <div class="test">
            <div class="module two" (click)="showmodul2()">
                {{allmodule.message[0].name_module}}
            </div>
            </div>
        </div>
        <div class=" clr-col-4">
            <div class="test">
            <div class="module three" (click)="showmodul3()">
                {{allmodule.message[0].name_module}}
            </div>
            </div>
        </div>
    </div>
    <div class="skill one" *ngIf="module1" [@inGoAnimation1]> <app-module1></app-module1></div>
    <div class="skill two" *ngIf="module2" [@inGoAnimation2]>  <app-module2></app-module2></div>
    <div class="skill three" *ngIf="module3" [@inGoAnimation3]>  <app-module3></app-module3></div>
</article>
